:root {
  --company-font-family: "Sacramento", cursive;
  --tagline-font-family: "Karla", sans-serif;
  --accent-color: rgb(91, 9, 2);
}

h1 {
  font-family: var(--company-font-family);
  font-size: 65px;
}

.hero {
  text-align: center;
}

.tagline {
  font-family: var(--tagline-font-family);
  font-weight: 400;
  font-size: 16px;
}

.link {
  background: green;
  font-size: 10px;
}

.link:hover {
  background: var(--accent-color);
}
