:root {
  --main-color: rgb(3, 141, 3);
  --accent-color: rgb(119, 12, 2);
}

.sac {
  font-family: "Sacramento", cursive;
}

.karla {
  font-family: "Karla", sans-serif;
}

.rose {
  max-width: 30px;
}

.hero {
  text-align: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.company {
  font-size: 65px;
}

.tagline {
  color: var(--accent-color);
  font-weight: 800;
  font-size: 24px;
}

.link {
  background: var(--main-color);
  font-size: 15px;
}

.link:hover {
  background: var(--accent-color);
}

.serviceHeading {
  color: var(--accent-color);
  font-size: 22px;
}

.paragraph {
  font-size: 15px;
  padding: 25px;
}

.lastParagraph {
  text-align: center;
}

.mamaStory {
  color: var(--main-color);
}

.images {
  width: 100%;
  margin-bottom: 30px;
}

.grandkids {
  width: 100%;
}

.aboutParagraphs {
  font-size: 19px;
}

.mamaQuote {
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}

.footer {
  font-size: 9px;
}

.fullLogo {
  display: none;
}

.display {
  display: none;
}

.food {
  padding: 5px;
}

@media (max-width: 1024px) {
  .aboutParagraphs,
  .mamaQuote {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .serviceHeading {
    font-size: 20px;
  }
}

@media (max-width: 475px) {
  .company {
    font-size: 55px;
  }

  .tagline {
    font-size: 17px;
  }
}
