:root {
  --accent-color: rgb(119, 12, 2);
}

.company {
  font-size: 65px;
}

.rose {
  max-width: 30px;
}

.sac {
  font-family: "Sacramento", cursive;
}

.karla {
  font-family: "Karla", sans-serif;
}

.hero {
  text-align: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.tagline {
  color: var(--accent-color);
  font-weight: 800;
  font-size: 20px;
}

.link {
  background: green;
  font-size: 15px;
}

.link:hover {
  background: var(--accent-color);
}

.serviceHeading {
  color: var(--accent-color);
  font-size: 22px;
}

.paragraph {
  font-size: 15px;
  padding: 25px;
}

.lastParagraph {
  text-align: center;
}

.allFooter {
  font-size: 9px;
}

.fullLogo {
  display: none;
}

.display {
  display: none;
}

@media (max-width: 991px) {
  .logo {
    display: none;
  }

  .fullLogo {
    display: inline;
  }

  .serviceHeading {
    font-size: 20px;
  }
}

@media (max-width: 475px) {
  .company {
    font-size: 55px;
  }

  .tagline {
    font-size: 17px;
  }
}
